DEBUG=true
db_dsn="postgresql://postgres:password@localhost:5432/roblox_bot"
queue_dsn="amqp://piko:password@localhost:5672/test?heartbeat=10"
db_tokens_table="user_tokens"
queue_name="url_queue"
sentry_dsn=""
browser="chrome"
