[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
python-dotenv = "*"
pydantic = "*"
loguru = "*"
aiohttp = "*"
requests = "*"
selenium-wire = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
